* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: sans-serif;
    height: 100%;
}
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}
a {
    outline : none;
}
